<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.merchant.web.mapper.TbUserPermissionMapper">
    <resultMap id="BaseResultMap" type="com.merchant.web.entity.TbUserPermission">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="father_id" property="fatherId" jdbcType="INTEGER"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="attr_id" property="attrId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_deleted" property="isDeleted" jdbcType="BIT"/>
        <result column="creatBy" property="creatby" jdbcType="VARCHAR"/>
        <result column="updateBy" property="updateby" jdbcType="VARCHAR"/>
        <result column="role_type" property="roleType" jdbcType="INTEGER"/>
        <result column="en_name" property="enName" jdbcType="VARCHAR"/>
        <result column="ps_number" property="psNumber" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, url, father_id, sort, attr_id, create_time, update_time, is_deleted, creatBy, 
    updateBy, role_type, en_name, ps_number
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tb_permission
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.merchant.web.entity.TbUserPermission">
    insert into tb_permission (id, name, url, 
      father_id, sort, attr_id, 
      create_time, update_time, is_deleted, 
      creatBy, updateBy, role_type, 
      en_name, ps_number)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{fatherId,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, #{attrId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT}, 
      #{creatby,jdbcType=VARCHAR}, #{updateby,jdbcType=VARCHAR}, #{roleType,jdbcType=INTEGER}, 
      #{enName,jdbcType=VARCHAR}, #{psNumber,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.merchant.web.entity.TbUserPermission">
        insert into tb_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="fatherId != null">
                father_id,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="attrId != null">
                attr_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="creatby != null">
                creatBy,
            </if>
            <if test="updateby != null">
                updateBy,
            </if>
            <if test="roleType != null">
                role_type,
            </if>
            <if test="enName != null">
                en_name,
            </if>
            <if test="psNumber != null">
                ps_number,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="fatherId != null">
                #{fatherId,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="attrId != null">
                #{attrId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=BIT},
            </if>
            <if test="creatby != null">
                #{creatby,jdbcType=VARCHAR},
            </if>
            <if test="updateby != null">
                #{updateby,jdbcType=VARCHAR},
            </if>
            <if test="roleType != null">
                #{roleType,jdbcType=INTEGER},
            </if>
            <if test="enName != null">
                #{enName,jdbcType=VARCHAR},
            </if>
            <if test="psNumber != null">
                #{psNumber,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.merchant.web.entity.TbUserPermission">
        update tb_permission
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="fatherId != null">
                father_id = #{fatherId,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="attrId != null">
                attr_id = #{attrId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
            <if test="creatby != null">
                creatBy = #{creatby,jdbcType=VARCHAR},
            </if>
            <if test="updateby != null">
                updateBy = #{updateby,jdbcType=VARCHAR},
            </if>
            <if test="roleType != null">
                role_type = #{roleType,jdbcType=INTEGER},
            </if>
            <if test="enName != null">
                en_name = #{enName,jdbcType=VARCHAR},
            </if>
            <if test="psNumber != null">
                ps_number = #{psNumber,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.merchant.web.entity.TbUserPermission">
    update tb_permission
    set name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      father_id = #{fatherId,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      attr_id = #{attrId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT},
      creatBy = #{creatby,jdbcType=VARCHAR},
      updateBy = #{updateby,jdbcType=VARCHAR},
      role_type = #{roleType,jdbcType=INTEGER},
      en_name = #{enName,jdbcType=VARCHAR},
      ps_number = #{psNumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <resultMap id="BasePermissionResultMap" type="com.merchant.web.Do.UserPermissionDo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="permit_id" property="permitId" jdbcType="VARCHAR"/>
        <result column="en_name" property="enName" jdbcType="VARCHAR"/>
        <result column="ps_number" property="psNumber" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Permission_Column_List">
           p.id,p.name,p.en_name,p.ps_number as permit_id
    </sql>
    <select id="findUserPermissionByUser" parameterType="com.merchant.web.vo.UserPermissionVo"
            resultMap="BasePermissionResultMap">
        SELECT DISTINCT
        <include refid="Base_Permission_Column_List"/>
        FROM
        tb_user_login_auths tla,tb_users tu,tb_user_role ur,tb_role r,tb_role_permission rp,tb_permission p
        WHERE tla.is_deleted= 0 AND tu.is_deleted = 0
        AND ur.is_deleted = 0 AND r.is_deleted = 0
        AND rp.is_deleted = 0 AND p.is_deleted = 0
        AND tla.user_no = tu.user_no AND tu.user_no = ur.user_no
        AND ur.role_id = r.id AND r.id = rp.role_id
        AND rp.permission_id = p.id
        <include refid="AndWhereCondition"/>
    </select>

    <select id="findAdminPermissionByUser" parameterType="com.merchant.web.vo.UserPermissionVo"
            resultMap="BasePermissionResultMap">
        SELECT DISTINCT
        <include refid="Base_Permission_Column_List"/>
        FROM tb_user_login_auths tla,tb_users tu,tb_user_role ur,tb_role r,tb_permission p
        WHERE tla.is_deleted= 0 AND tu.is_deleted = 0
        AND ur.is_deleted = 0 AND r.is_deleted = 0
        AND p.is_deleted = 0 AND tla.user_no = tu.user_no
        AND r.type=p.role_type AND tu.user_no = ur.user_no
        AND ur.role_id = r.id
        <include refid="AndWhereCondition"/>
    </select>
    <sql id="AndWhereCondition">
        <if test="userStatus != null">
            AND tu.user_status =#{userStatus,jdbcType=INTEGER}
        </if>
        <if test="identityType != null">
            AND tla.identity_type=#{identityType,jdbcType=INTEGER}
        </if>
        <if test="isNotMerchantId != null">
            AND ur.merc_id IS NOT NULL
        </if>
        <if test="merchantId != null">
            AND ur.merc_id =#{merchantId,jdbcType=VARCHAR}
        </if>
        <if test="userNo != null">
            AND tu.user_no =#{userNo,jdbcType=VARCHAR}
        </if>
        <if test="url != null">
            AND p.url =#{url,jdbcType=VARCHAR}
        </if>
        <if test="attrId != null">
            AND p.attr_id =#{attrId,jdbcType=VARCHAR}
        </if>
    </sql>
    <select id="findPermissionByCondition" parameterType="com.merchant.web.common.entity.vo.PermissionVo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_permission p
        where p.is_deleted = 0
        <if test="attrId != null">
            AND p.attr_id =#{attrId,jdbcType=INTEGER}
        </if>
        <if test="fatherId != null">
            AND p.father_id =#{fatherId,jdbcType=INTEGER}
        </if>
        <if test="permissionType != null">
            AND p.permission_type =#{permissionType,jdbcType=INTEGER}
        </if>
    </select>
    <select id="findUserPermissionInfoByUser" parameterType="com.merchant.web.vo.UserPermissionVo" resultMap="BasePermissionResultMap">
        SELECT DISTINCT
        <include refid="Base_Permission_Column_List"/>
        FROM tb_users tus,tb_user_role tur,tb_role_permission trp,tb_permission p
        WHERE tus.user_no=tur.user_no
        AND tur.role_id=trp.role_id AND trp.permission_id=p.id
        AND tus.is_deleted=0        AND tur.is_deleted=0
        AND trp.is_deleted=0        AND p.is_deleted=0
        AND trp.is_show=1
        <if test="userNo != null">
            AND tus.user_no =#{userNo,jdbcType=VARCHAR}
        </if>
        <if test="merchantId != null">
            AND tur.merc_id=#{merchantId,jdbcType=VARCHAR}
        </if>
        <if test="psNumber != null">
            AND p.ps_number=#{psNumber,jdbcType=VARCHAR}
        </if>
    </select>

</mapper>